<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home">VAg</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/features">Features</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{ userName }}
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="/profile">Account Details</a></li>
            <li><a class="dropdown-item" href="#" (click)="logout()">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Dashboard -->
<div class="container mt-4">
  <div class="row">
    <div class="col-md-3">
      <h4>Dashboard</h4>
      <ul class="list-group">
        <li class="list-group-item"><a routerLink="/suppliers">Manage Suppliers</a></li>
        <li class="list-group-item"><a routerLink="/deliveries">Manage Deliveries</a></li>
        <li class="list-group-item"><a routerLink="/products">Manage Products</a></li>
      </ul>
    </div>
    <div class="col-md-9">
      <div class="content-area">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
